<%- include('./partials/header.ejs') %>

<div class="w-full h-[90vh] flex justify-center items-center bg-gradient-to-r from-blue-100 to-red-100 max-md:p-2">
  <div class="flex gap-10 max-md:gap-5">
    <div class="w-[50%] max-md:w-[44vw] bg-white h-[65%] rounded-md p-4 shadow-md">
      <h1 class="text-3xl text-black max-md:text-[16px] font-bold mb-4">Login as a User</h1>
      <form class="flex flex-col gap-4 mb-5" action="/login" method="post">
        <input class="block w-full outline-none rounded-md border-2 border-zinc-200 p-2 pl-10 max-md:p-1" type="text" placeholder="Email" name="email" autocomplete="off">
        <input class="block w-full outline-none rounded-md border-2 border-zinc-200 p-2 pl-10 max-md:p-1" type="password" placeholder="Password" name="password">
        <button class="bg-blue-500 p-2 w-full rounded-md text-white hover:bg-blue-700 transition duration-300 ease-in-out">Login</button>
      </form>
      <a class="text-sm mt-3 max-md:text-[10px]" href="/register">Don't Have an Account? <span class="text-blue-400 underline text-sm max-md:text-[10px]">Register Here..</span></a>
    </div>
    <div class="w-[50%] bg-white h-[60%] rounded-md p-4 shadow-md max-md:w-[44vw]">
      <h1 class="text-3xl text-black max-md:text-[15px] font-bold mb-4">Login as a Seller</h1>
      <form class="flex flex-col gap-4 mb-5" action="/loginSeller" method="post">
        <input class="block w-full outline-none rounded-md border-2 border-zinc-200 p-2 pl-10 max-md:p-1" type="text" placeholder="Email" name="email" autocomplete="off">
        <input class="block w-full outline-none rounded-md border-2 border-zinc-200 p-2 pl-10 max-md:p-1" type="password" placeholder="Password" name="password">
        <button class="bg-red-500 p-2 w-full rounded-md text-white hover:bg-red-700 transition duration-300 ease-in-out">Login</button>
      </form>
      <a class="text-sm mt-3 max-md:text-[10px]" href="/registerSeller">Don't Have an Account? <span class="text-red-400 underline text-sm max-md:text-[10px]">Register Here..</span></a>
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs') %>